

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 20px calc(50% - 500px);
}

.logo {
    height: 40px;
}

.main-nav {
    display: flex;
    gap: 20px;
}

.link {
    color: blue;
    font-size: 20px;
    text-decoration: none;
}
.link:hover {
    color: red;
}